.App {
	padding: 2rem;
	width: 100%;
	max-width: 500px;
	margin: 0 auto;
}
.wrapper {
	background-color: rgb(186, 201, 219);
	padding: 1rem;
	margin-bottom: 1rem;
	border-radius: 8px;
}

.wrapper form {
	display: flex;
	flex-direction: column;
}

.wrapper .data {
	background-color: rgb(107, 142, 144);
	padding: 1rem;
}

button {
	padding: 1rem;
	border: none;
	background-color: rgb(157, 158, 170);
	margin: 1rem 0;
	width: 100%;
}

input {
	margin-bottom: 1rem;
	padding: 1rem;
}

h2 {
	margin: 0;
}
